<li class = "burger">
	{{name}}
	{{#unless devoured}}
	<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		Devour!
	</button>
	{{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">X</button>
</li>
